@model IEnumerable<ninja.Models.BusquedaInvoiceDetail>

   <h1> Detalle </h1>
<br/>
<br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPriceWithTaxes)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.BeginForm()
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPriceWithTaxes)
            </td>
            <td>
               
            </td>
        </tr>
    }
    
    </table>
 
